In [3]:
import pandas as pd
import numpy as np
import datetime as date
import os
import tqdm
import ast
import json
import sqlite3

In [4]:
con = sqlite3.connect("../data/database/ICLR.db")

In [12]:
query = '''
SELECT
    AVG(CAST(reviews.rating_int as demcial)) AS AVG_rating,
    COUNT(reviews.id) as NUM_Reviews,
    submissions.*
    
FROM reviews
JOIN submissions ON reviews.forum = submissions.id
WHERE submissions.conf_year in (2017,2018)
GROUP BY submissions.id
'''

df_submission = pd.read_sql_query(query,con)

In [13]:
df_submission[df_submission['conf_year'] == '2018'].shape

(910, 16)

In [17]:
df_submission[df_submission['AVG_rating'].isna()]

Empty DataFrame
Columns: [AVG_rating, NUM_Reviews, id, original, tcdate, tmdate, number, title, authorids, authors, keywords, abstract, pdf, conf_name, conf_year, tldr]
Index: []

In [21]:
query2 = '''
SELECT
    submissions.*
    
FROM submissions
WHERE submissions.conf_year in (2017,2018)
'''

a = set(pd.read_sql_query(query2,con).id.tolist())
b = df_submission.id.tolist()

a.symmetric_difference(set(b))

#this paper was rejected from the conference b/c of dual submission.

{'ry5wc1bCW'}

In [22]:
df_submission.to_csv('../data/database/outputs/df_submission_rating.csv',index=False)